<!DOCTYPE html>
<head>
  <title>Menu</title>
  <link href="menu.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" type="image/png" href="images/smalllogo.png">
  <script src="menu.js"></script>
</head>
<body>
  <div id="google_translate_element"></div>
  <nav>
    <ul>
      <li><a href="/menu">Menu</a></li> 
    </ul>
    <img src="images/smoothieKing.png" alt="Logo" id="logo-image">
  </nav>
  <br>
  <div class="left">
    <div class="column">
      <h2>Smoothie</h2>
      <ul>
        <% for (var i in menuitems) { %>
          <% if (menuitems[i].category == "Smoothie") { %>
            <li><%= menuitems[i].itemname %> - <%= menuitems[i].itemprice %></li>
          <% } %>
        <% } %>
      </ul>
      <br>
     </div>
   </div>>
  <div class="right">
    <div class="column">
      <h2>Snack</h2>
      <ul>
        <% for (var i in menuitems) { %>
          <% if (menuitems[i].category == "Snack") { %>
            <li><%= menuitems[i].itemname %> - <%= menuitems[i].itemprice %></li>
          <% } %>
        <% } %>
      </ul>
      <br>
    </div>
    <div class="column">
      <h2>Protein Smoothie</h2>
      <ul>
        <% for (var i in menuitems) { %>
          <% if (menuitems[i].category == "Protein Smoothie") { %>
            <li><%= menuitems[i].itemname %> - <%= menuitems[i].itemprice %></li>
          <% } %>
        <% } %>
      </ul>
    </div>
    <div class="column">
      <h2>Recovery Smoothie</h2>
      <ul>
        <% for (var i in menuitems) { %>
          <% if (menuitems[i].category == "Recovery Smoothie") { %>
            <li><%= menuitems[i].itemname %> - <%= menuitems[i].itemprice %></li>
          <% } %>
        <% } %>
      </ul>
      <br>
    </div>
</div>
  </div>
</body>