<!DOCTYPE html>
<head>
  <title>Customer</title>
  <link href="customer.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" type="image/png" href="images/smalllogo.png">
  <script src="customer.js"></script>
</head>
<body>
  <div id="google_translate_element"></div>
  <nav>
    <ul>
      <li><a href="/menu">Menu</a></li> 
    </ul>
  </nav>
  <br>
  <div class="container">
    <ul>
        <% for (var i in menuitems) { %>
          <!-- <li><%= menuitems[i].itemname %> - <%= menuitems[i].itemprice %></li> -->
          <% if (menuitems[i].category == "Smoothie") { %>
            <li><%= menuitems[i].itemname %> - <%= menuitems[i].itemprice %></li>
          <% } else if (menuitems[i].category == "Snack") { %>
            <li><%= menuitems[i].itemname %> - <%= menuitems[i].itemprice %></li>
          <% } else if (menuitems[i].category == "Protein Smoothie") { %>
            <li><%= menuitems[i].itemname %> - <%= menuitems[i].itemprice %></li>
          <% } else { %>
            <li><%= menuitems[i].itemname %> - <%= menuitems[i].itemprice %></li>
          <% } %>
        <% } %>
      </ul>
    </div>
  </div>
</body>
