<!DOCTYPE html>
<head>
  <title>Menu</title>
  <link href="menu.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" type="image/png" href="images/smalllogo.png">
  <script src="menu.js"></script>
</head>
<body>
  <div id="google_translate_element"></div>
  <nav>
    <ul>
      <li><a href="/menu">Menu</a></li> 
    </ul>
  </nav>
  <br>
  <div class="smoothie">
    <ul>
        <% for (var i in menuitems) { %>
          <!-- <li><%= menuitems[i].itemname %> - <%= menuitems[i].itemprice %></li> -->
          <% if (menuitems[i].category == "Smoothie") { %>
            <li><%= menuitems[i].itemname %> - <%= menuitems[i].itemprice %></li>
          <% } %>
        <% } %>
      </ul>
    </div>
    <div class="snack">
        <% for (var i in menuitems) { %>
          <% }if (menuitems[i].category == "Snack") { %>
            <li><%= menuitems[i].itemname %> - <%= menuitems[i].itemprice %></li>
        <% } %>
    </div>
    <div class="protein">
        <% for (var i in menuitems) { %>
          <% }if (menuitems[i].category == "Protein Smoothie") { %>
            <li><%= menuitems[i].itemname %> - <%= menuitems[i].itemprice %></li>
        <% } %>
    </div>
    <div class="recovery">
        <% for (var i in menuitems) { %>
          <% }if (menuitems[i].category == "Recovery Smoothie") { %>
            <li><%= menuitems[i].itemname %> - <%= menuitems[i].itemprice %></li>
        <% } %>
    </div>

  </div>

  

</body>
